<% provide(:title , "Home") %>

<h1 style="text-align: center"><%= @name %></h1>
<h4><%= @time %></h4>
<a href="https://www.railstutorial.org/" target="_blank">click</a>
<p>tattatata</p>
<marquee>Ruby Guard is a tool that automatically runs your tests whenever your code changes.</marquee>
<select>
  <option selected>options</option>
  <option>a</option>
  <option>b</option>
  <option>c</option>
  <option>d</option>
</select>