<% provide(:title , "Home") %>


<h1><%= is_blank?(@name) %></h1>

<h4><%= @time %></h4>
<%= sort_this(@arr) %><br>
<%#= @arr.join("") %>
<br>
<br>
<p style="text-align: center"><%= @arr.sample %></p>
<a href="https://www.railstutorial.org/" target="_blank">click</a>
<p>tattatata</p>
<marquee id="marq" style="font-size: 25px">If this example strikes you as a bit contrived, good—this is by design. It’s odd to create a new class just to create a method that takes a string as an argument.</marquee>
<select>
  <option selected>options</option>
  <option>a</option>
  <option>b</option>
  <option>c</option>
  <option>d</option>
</select>